/* index.css */
*{
  padding:0;
  margin:0
}
header{
    background-color: purple;
    align-items: center;
}
.head-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Titillium Web', sans-serif;
}
ul,li{
  display: inline;
  list-style-type: none;
}
.navigation-menu:hover, .navigation-menu:active {
    background-color: indigo;
    color: white;
    border-radius: 3px;
}
.navigation-menu {
    background-color: purple;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;

  }
h2{
  padding-top: 50px;
  padding-bottom: 10px;
}
.container-p{
  padding-top: 10px;
  padding-bottom: 50px;
}
/* first section */

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: purple;
    color: white;
    height: 50vh;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
  }
h1 {
    text-align: center;
  }
.a-container2 {
    background-color: #eb7d4b;
    color: white;
    border-radius: 3px;
    padding: 10px 50px;
    text-decoration: none;
  }

  /* first section ends here */
  /* second section */

.third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17c2a4;
    color: white;
    justify-content: space-around;
    font-family: 'Titillium Web', sans-serif;
  }
.third-inner-container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    padding-bottom: 30px
  }
.services-we-provide{
    color: white;
  }
.third-container-img{
    wdith: 100px;
    height: 100px;
    padding-left: 20px;
  }
.third-inner-container-services{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 200px;
  }
p{
    text-align: center;
  }

  /* second section ends here */
  /* third section starts here*/

.fourth-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 60vh;
      background-color: #e7f1f8;
      justify-content: space-around;
      font-family: 'Titillium Web', sans-serif;
      color:  #3c4761;
}
.fourth-inner-container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px
}
.fourth-inner-container-team{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  width: 200px;
  height: 40vh;
}
.fourth-container-img{
  wdith: 150px;
  height: 150px;
}
.fourth-container-bundle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fourth-inner-container-team-description{
  text-align: center;
}
.fourth-inner-container-team-designation{
  color: #30bae7;
}
.social-tab{
  display: flex;
  flex-direction: row;
  width:120px;
  justify-content: center;
}
.social-icons{
  padding-left:5px;
  padding-right:5px;
  height: 25px;
  width: 25px;
}

/* third section ends here*/
/* fourth section starts here*/

.fifth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #3c4761;
  font-family: 'Titillium Web', sans-serif;
}
.fifth-inner-container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.skill-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 200px;
}
.skill-image{
  wdith: 150px;
  height: 150px;
}

/* fourth section ends here */
/* fifth section starts here*/

.sixth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #393939;
  background-color: #ffdd99;
  font-family: 'Titillium Web', sans-serif;
}
.portfolio-option:hover, .portfolio-option:active {
    background-color: white;
    color: #393939;
    border-radius: 3px;
}
.portfolio-option{
    background-color: #ebc985;
    color: #393939;
    border-radius: 2px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;

}
.portfolio-navigation{
  padding-bottom: 50px;
}
.sixth-inner-container{
  flex-direction: column;
  justify-content: space-between;
}
.sixth-inner-container1{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.sixth-inner-container2{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.sixth-solo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5{
  font-weight: 300
}
.more-products{
  background-color: #17c2a4;
  color: white;
  border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none
}
.sixth-lower-container{
  padding-bottom: 50px;
}
