/* index.css */
*{
  padding:0;
  margin:0
}
header{
    background-color: purple;
    align-items: center;
}
.head-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Titillium Web', sans-serif;
}
.head-container a:hover, a:active{
  background-color: indigo;
  color: white;
  border-radius: 3px;
}
ul,li{
  display: inline;
  list-style-type: none;
}
.head-container a {
  background-color: purple;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
}
h2{
  padding-top: 50px;
  padding-bottom: 10px;
}
.container-p{
  padding-top: 10px;
  padding-bottom: 50px;
}
/* first section */

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: purple;
    color: white;
    height: 50vh;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
  }
h1 {
    text-align: center;
  }
.second-container a {
    background-color: #eb7d4b;
    color: white;
    border-radius: 3px;
    padding: 10px 50px;
    text-decoration: none;
  }

  /* first section ends here */
  /* second section */

.third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17c2a4;
    color: white;
    justify-content: space-around;
    font-family: 'Titillium Web', sans-serif;
  }
.third-inner-container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    padding-bottom: 30px
  }
.third-container-img{
    wdith: 100px;
    height: 100px;
    padding-left: 20px;
  }
.third-inner-container-services{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 200px;
  }
p{
    text-align: center;
  }

  /* second section ends here */
  /* third section starts here*/

.fourth-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 60vh;
      background-color: #e7f1f8;
      justify-content: space-around;
      font-family: 'Titillium Web', sans-serif;
      color:  #3c4761;
}
.fourth-inner-container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px
}
.fourth-inner-container-team{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  width: 200px;
  height: 40vh;
}
.fourth-container-img{
  wdith: 150px;
  height: 150px;
}
.fourth-container-bundle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fourth-inner-container-team-description{
  text-align: center;
}
.fourth-inner-container-team-designation{
  color: #30bae7;
}
.social-tab{
  display: flex;
  flex-direction: row;
  width:120px;
  justify-content: center;
}
.social-icons{
  padding-left:5px;
  padding-right:5px;
  height: 25px;
  width: 25px;
}

/* third section ends here*/
/* fourth section starts here*/

.fifth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #3c4761;
  font-family: 'Titillium Web', sans-serif;
}
.fifth-inner-container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.skill-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 200px;
}
.skill-image{
  wdith: 150px;
  height: 150px;
}

/* fourth section ends here */
/* fifth section starts here*/

.sixth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #393939;
  background-color: #ffdd99;
  font-family: 'Titillium Web', sans-serif;
}
.portfolio-option:hover, .portfolio-option:active {
    background-color: white;
    color: #393939;
    border-radius: 3px;
}
.portfolio-option{
    background-color: #ebc985;
    color: #393939;
    border-radius: 2px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;

}
.portfolio-navigation{
  padding-bottom: 50px;
}
.sixth-inner-container{
  flex-direction: column;
  justify-content: space-between;
}
.sixth-inner-container1{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.sixth-inner-container2{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  padding-bottom: 50px;
}
.sixth-solo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5{
  font-weight: 400;
}

.sixth-lower-container{
  padding-bottom: 50px;
}
.sixth-lower-container a{
  background-color: #17c2a4;
  color: white;
  border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none
}

/* fifth section ends here */
/* sixth section starts here*/

.seventh-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #d74680;
  font-family: 'Titillium Web', sans-serif;
}
.seventh-inner-container{
  flex-direction: column;
  justify-content: space-between;
  width:70vw;
}
.seventh-inner-container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seventh-solo-container{
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
}
.seventh-solo-container img{
  height: 100px;
  width: 100px;
}
.seventh-inner-nested-container{
  display: flex;
  flex-direction: column;
  width: 15vw;
}
.seventh-inner-nested-container i{
  text-align: left;
  padding-bottom: 20px;
}
.seventh-inner-nested-container h5{
  color: #ffdd99;
}

/* sixth section ends here */
/* seventh section starts here*/

.eighth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #3c5499;
  font-family: 'Titillium Web', sans-serif;
}
.eighth-container form{
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
}
.upper-form-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:40vw;
  padding-bottom: 10px;
}
.upper-form-section input{
  background-color: #273a71;
  border: none;
  border-radius: 4px;
  color: white;
  height:5vh;
  width: 19vw;
  padding-left: 10px;
}
.lower-form-section{
  width: 40vw;
  padding-bottom: 20px;
}
.lower-form-section textarea{
  background-color: #273a71;
  border: none;
  border-radius: 4px;
  color: white;
  height: 15vh;
  width: 40vw;
  padding-left: 10px;
  font-family: 'Titillium Web', sans-serif;
}
::-webkit-input-placeholder {    /* chrome/safari*/
 font-size: 14px;
 color: white;
 padding-left: 10px;
}
:-moz-placeholder {         /* older Firefox*/
  font-size: 14px;
  color: white;
  padding-left: 100px;
}
::-moz-placeholder {         /* Firefox 19+ */
  font-size: 14px;
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {     /* Internet explorer*/
  font-size: 14px;
  color: white;
  padding-left: 10px;
}
.send-message{
  display: flex;
  align-items: center;
  background-color: #30bae7;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 50px;
  width: 11vw;
  box-shadow: 0 3px #299ec5;
}
.eighth-container form{
  padding-bottom: 40px;
}

/* seventh section ends here */
/* Footer starts here*/
footer{
  display: flex;
  flex-direction: column;
  background-color: #344b8e;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  font-family: 'Titillium Web', sans-serif;
}
footer a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 2px 10px;
}
footer a:hover, a:active{
  background-color: white;
  color: #344b8e;
  border-radius: 2px;
}
footer nav{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
}
/* COMMON CSS*/
.container-heading{
  letter-spacing: 4px;
}
